container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: groceryapp.settings
  "aws:elasticbeanstalk:container:python":
  	WSGIPath: groceryapp/groceryapp/wsgi.py
  	NumProcesses: 3
  	NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
  	"/static/": "groceryapp/static/"
