.btn-green {
	padding: 10px 30px;
    background: #84C639;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.grocery-green {
	background-color: #84C639;
}

.grocery-red {
	background-color: #FA1818;
}

.msT {
	margin-top: 5px;
}

.msL {
	margin-left: 5px;
}

.mlL {
	margin-left: 15px;
}

.mmT {
	margin-top: 10px;
}

.mlT {
	margin-top: 15px;
}

.mlB {
	margin-bottom: 15px;
}

.mxlB {
	margin-bottom: 20px;
}

.mmB {
	margin-bottom: 10px;
}

.mnB {
	margin-bottom: 0px;
}

.pnT {
	padding-top: 0px;
}

.pnA {
	padding: 0px;
}

.pnR {
	padding-right: 0px;
}

.psA {
	padding: 5px;
}

.pmA {
	padding: 10px;
}

.pmT {
	padding-top: 10px;
}

.plL {
	padding-left: 15px;
}

.plA {
	padding: 15px;
}

.pxlA {
	padding: 20px;
}

.taR {
	text-align: right;
}

.txC {
	text-align: center;
}

hr {
	border-top: 1px solid #ccc;
}

.fw1 {
	font-weight: 100;
}

.fw3 {
	font-weight: 300;
}

.fw4 {
	font-weight: 400;
}

.full-width {
	width: 100% !important;
}
