body {
    font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #303030;
}

h2 {
	color: #307699;
	line-height: 1.6;
	font-size: 22px;
	margin-top: 23px;
	margin-bottom: 11.5px;
}

.w3ls_logo_products_left {
	margin-top: 40px;
	float: none;
}

.block-password-reset {
	border: 1px solid #dcdcdc;
}

.form-control {
	display: block;
	width: 100%;
	height: 47px;
	padding: 11px 14px;
	font-size: 14px;
	line-height: 1.7;
	color: #2e3d49;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #dbe2e8;
	border-radius: 2px;
	box-shadow: 0 0.25em 0.5em 0 rgba(46, 61, 73, 0.12);
	transition: box-shadow 0.3s ease, border 0.3s ease;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row.row-gap-medium {
	margin-top: 30px;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}

.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.btn {
	margin: 2px 0;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	border-width: 0;
	border-radius: 4px;
	transition: all .3s ease;
	-webkit-font-smoothing: antialiased;
}

.btn-primary {
	background-color: #02b3e4;
	border-color: #02b3e4;
	border-radius: 2px;
	color: #ffffff;
}

.btn-md, .btn {
	padding: 14px 35px;
}
