<!--
	author: W3layouts
	author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
			Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } 
		</script>
		<!-- //for-mobile-apps -->

		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/grocery.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/cart.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/checkout.css' %}" rel="stylesheet" type="text/css" media="all" />

		<!-- font-awesome icons -->
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
		<!-- //font-awesome icons -->

		<!-- js -->
		<script src="{% static 'js/third_party/jquery-1.11.1.min.js' %}"></script>
		<!-- //js -->

		<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<!-- //start-smoth-scrolling -->
	</head>
	<body>
		<!-- header -->
		{% include "header.html" %}
		<!-- //header -->
		<!-- order overview -->
		<div class="container">
			<div class="row row-cart-header mmT pmA">
				<div class="col-md-6">
					<span>ITEM DESCRIPTION</span>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-3">
							<span>UNIT PRICE</span>
						</div>
						<div class="col-md-3">
							<span>QUANTITY</span>
						</div>
						<div class="col-md-3">
							<span>SUBTOTAL</span>
						</div>
						<div class="col-md-3">
							<span>DISCOUNT</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row-cart">
			</div>
		</div>
		<!-- //order overview -->
		<!-- place order -->
		<div class="container">
			<div class="row mmT pmA">
				<div class="col-md-6">
				</div>
				<div class="col-md-6 block-order-bill">
					<div class="row">
						<div class="col-md-10 col-subtotal plA">
							<div class="row row-subtotal">
								<div class="col-md-6">
									<p>Subtotal:</p>
								</div>
								<div class="col-md-6 taR">
									<p id="order-subtotal"></p>
								</div>
							<hr>
							</div>
							<div class="row row-total">
								<div class="col-md-6">
									<b>Total:</b>
								</div>
								<div class="col-md-6 taR">
									<b id="order-total">€ 25.00</b>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-total-discount">
							<span>You saved!</span>
							<span>€ 2.00</span>
						</div>
					</div>
					<div class="row row-place-order">
						<hr>
						<button class="btn btn-success pull-right grocery-green">Place Order</button>
						<span class="icon icon-navigating-right"></span>
					</div>
				</div>
			</div>
		</div>
		<!-- //place order -->
		<!-- footer -->
		{% include "footer.html" %}
		<!--//footer-->
		<script src="{% static 'js/cart.js' %}"></script>
		<script src="{% static 'js/checkout.js' %}"></script>
	</body>
</html>