<!--
	author: W3layouts
	author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
			Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } 
		</script>
		<!-- //for-mobile-apps -->

		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/grocery.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/cart.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/checkout.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>

		<!-- font-awesome icons -->
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
		<!-- //font-awesome icons -->

		<!-- js -->
		<script src="{% static 'js/third_party/jquery-1.11.1.min.js' %}"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
		<!-- //js -->

		<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<!-- //start-smoth-scrolling -->
	</head>
	<body>
		<!-- header -->
		{% include "header.html" %}
		<!-- //header -->
		<!-- empty cart-->
		<div class="container container-empty-basket hide mmB">
			<p class="fw4">
				Your cart is empty!
				<a href="/" class="btn btn-primary">
					Continue Shopping
					<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
				</a>
			</p>
		</div>
		<!-- //empty cart-->
		<!-- order status -->
		<div class="container mmT mmB container-order-status hide">
			<div class="block-order-status-ok">
				<h2 class="mlB">Thank you for order!</h2>
				<h4 class="fw1">Order number is: 123123</h4>
				<small class="mmT">You will receive an email confirmation shortly at abc.xyz@com</small><br />
				<small class="mmT">You may track your order <a href="#">here</a></small>
			</div>
			<div class="block-order-status-fail">
				<h2 class="mlB">Oops something went wrong!</h2>
				<small class="fw1">You may trying placing order again or call us at (+49) 176 42971087 to place order on call.</small>
			</div>
		</div>
		<!-- //order status-->
		<!-- order overview -->
		<div class="container order-header">
			<div class="row row-cart-header mmT pmA">
				<div class="col-md-6">
					<span>ITEM DESCRIPTION</span>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-3">
							<span>UNIT PRICE</span>
						</div>
						<div class="col-md-3">
							<span>QUANTITY</span>
						</div>
						<div class="col-md-3">
							<span>SUBTOTAL</span>
						</div>
						<div class="col-md-3">
							<span>DISCOUNT</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row-cart">
			</div>
		</div>
		<!-- //order overview -->
		<!-- place order -->
		<div class="container order-overview">
			<div class="row mmT pmA">
				<div class="col-md-6 block-order-bill">
					<h2 class="pmA txC">Delivery address</h2>
					<form class="form-horizontal form-delivery">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="customer_name">Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="customer_name" id="customer_name" placeholder="Ex. John Doe" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="customer_email">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" name="customer_email" id="customer_email" aria-describedby="emailHelp" placeholder="Ex. abc@xyz.com" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="phone">Mobile</label>
							<div class="col-sm-10">
								<input type="tel" class="form-control" name="phone" id="phone" placeholder="Ex. 0123123123123" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="street">Street</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="street" id="street" placeholder="Street">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="street">House</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="house" id="house" placeholder="House number / Building">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="city">City</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="city" id="city" placeholder="City">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="postal_code">Zip</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="postal_code" id="postal_code" placeholder="Zip Code">
							</div>
						</div>
					</form>
					<small class="pull-right mmB fw3">*currently we support only cash on delivery!</small>
				</div>
				<div class="col-md-6 block-order-bill mmB">
					<div class="row">
						<div class="col-md-10 col-subtotal plA">
							<div class="row row-subtotal">
								<div class="col-md-6">
									<p>Subtotal:</p>
								</div>
								<div class="col-md-6 taR">
									<p id="order-subtotal"></p>
								</div>
							<hr>
							</div>
							<div class="row row-total">
								<div class="col-md-6">
									<b>Total:</b>
								</div>
								<div class="col-md-6 taR">
									<b id="order-total"></b>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-total-discount">
							<span>You saved!</span>
							<span id="total-discount"></span>
						</div>
					</div>
					<div class="row row-place-order">
						<hr>
						<a href="/" class="btn btn-primary pull-left">
							Continue Shopping
							<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
						</a>
						<button id="btn-place-order" class="btn btn-success pull-right grocery-green">Place Order
							<img src="{% static 'img/loading.gif' %}" class="msL hide" alt="placing...">
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- //place order -->
		<!-- footer -->
		{% include "footer.html" %}
		<!--//footer-->
		<script src="{% static 'js/cart.js' %}"></script>
		<script src="{% static 'js/checkout.js' %}"></script>
	</body>
</html>