<div class="agileits_header">
	<div class="w3l_offers">
		<a href="products.html">Today's special Offers !</a>
	</div>
	<div class="w3l_search">
		<form action="#" method="post">
			<input type="text" name="Product" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
			<input type="submit" value=" ">
		</form>
	</div>
	<div class="product_list_header">
		<form action="#" method="post" class="last">
			<fieldset>
				<input type="hidden" name="cmd" value="_cart" />
				<input type="hidden" name="display" value="1" />
				<div class="input-append">
					<input type="button" name="btn-view-cart" id="btn-view-cart" value="View your cart" class="button" />
					<span class="glyphicon glyphicon-exclamation-sign cart-item-icon" aria-hidden="true"></span>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="w3l_header_right">
		<ul>
			<li class="dropdown profile_details_drop">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
				<div class="mega-dropdown-menu">
					<div class="w3ls_vegetables">
						<ul class="dropdown-menu drp-mnu">
							<li><a href="/login">Login</a></li>
							<li><a href="/login">Sign Up</a></li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="w3l_header_right1">
		<h2><a href="contact">Contact Us</a></h2>
	</div>
	<div class="clearfix"> </div>
</div>
<div class="logo_products">
	<div class="container">
		<div class="w3ls_logo_products_left">
			<h1><a href="/"><span>Grocery</span> Store</a></h1>
		</div>
		<div class="w3ls_logo_products_left1">
			<ul class="special_items">
				<li><a href="events.html">Events</a><i>/</i></li>
				<li><a href="about.html">About Us</a><i>/</i></li>
				<li><a href="products.html">Best Deals</a><i>/</i></li>
				<li><a href="services.html">Services</a></li>
			</ul>
		</div>
		<div class="w3ls_logo_products_left1">
			<ul class="phone_email">
				<li><i class="fa fa-phone" aria-hidden="true"></i>(+49) 176 42971087</li>
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:jain.avi17@gmail.com">jain.avi17@gmail.com</a></li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- cart modal -->
<div id="modal-cart" class="modal fade">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Your Invoice</h5>
				<button type="button" class="close btn-modal-cart" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul>
				</ul>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
<!-- //cart modal -->
