{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Sign In & Sign Up :: w3layouts</title>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
			Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } 
		</script>
		<!-- //for-mobile-apps -->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/grocery.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/cart.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" media="all" />
		<!-- font-awesome icons -->
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
		<!-- //font-awesome icons -->
		<!-- js -->
		<script src="{% static 'js/third_party/jquery-1.11.1.min.js' %}"></script>
		<!-- //js -->
		<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<!-- start-smoth-scrolling -->
	</head>
	<body>
		<!-- header -->
		{% include "header.html" %}
		<!-- //header -->
		<!-- products-breadcrumb -->
		<div class="products-breadcrumb">
			<div class="container">
				<ul>
					<li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
					<li>Sign In & Sign Up</li>
				</ul>
			</div>
		</div>
		<!-- //products-breadcrumb -->
		<!-- banner -->
		<div class="banner">
			{% include "left_menu.html" %}
			<div class="w3l_banner_nav_right">
				<!-- login -->
				<div class="w3_login">
					<h3>Sign In & Sign Up</h3>
					<div class="w3_login_module">
						<div class="module form-module">
							<div class="toggle">
								<i class="fa fa-times fa-pencil"></i>
								<div class="tooltip">Click Me</div>
							</div>
							<div class="form">
								<h2>Login to your account</h2>
								<form action="#" method="post">
									{% csrf_token %}
									<input type="text" name="Username" placeholder="Username" required=" ">
									<input type="password" name="Password" placeholder="Password" required=" ">
									<input type="submit" value="Login">
								</form>
							</div>
							<div class="form">
								<h2>Create an account</h2>
								<form id="form-singup" action="" method="post">
									{% csrf_token %}
									<input type="text" name="name" placeholder="Full name" required>
									<input type="email" name="email" placeholder="Email Address" required>
									<input type="password" name="password" placeholder="Password" required>
									<input type="text" name="phone" placeholder="Phone Number" required>
									<input type="text" name="street" placeholder="Street Name" required>
									<input type="text" name="house" placeholder="House Number">
									<input type="text" name="city" placeholder="City / Town">
									<input type="text" name="postal_code" placeholder="Postal Code">
									<input type="submit" value="Register">
								</form>
							</div>
							<div class="cta"><a href="#">Forgot your password?</a></div>
						</div>
					</div>
				</div>
				<!-- //login -->
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- //banner -->
		<!-- newsletter-top-serv-btm -->
		<div class="newsletter-top-serv-btm">
			<div class="container">
				<div class="col-md-4 wthree_news_top_serv_btm_grid">
					<div class="wthree_news_top_serv_btm_grid_icon">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</div>
					<h3>Nam libero tempore</h3>
					<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
						saepe eveniet ut et voluptates repudiandae sint et.
					</p>
				</div>
				<div class="col-md-4 wthree_news_top_serv_btm_grid">
					<div class="wthree_news_top_serv_btm_grid_icon">
						<i class="fa fa-bar-chart" aria-hidden="true"></i>
					</div>
					<h3>officiis debitis aut rerum</h3>
					<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
						saepe eveniet ut et voluptates repudiandae sint et.
					</p>
				</div>
				<div class="col-md-4 wthree_news_top_serv_btm_grid">
					<div class="wthree_news_top_serv_btm_grid_icon">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div>
					<h3>eveniet ut et voluptates</h3>
					<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
						saepe eveniet ut et voluptates repudiandae sint et.
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //newsletter-top-serv-btm -->
		<!-- newsletter -->
		<div class="newsletter">
			<div class="container">
				<div class="w3agile_newsletter_left">
					<h3>sign up for our newsletter</h3>
				</div>
				<div class="w3agile_newsletter_right">
					<form action="#" method="post">
						{% csrf_token %}
						<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
						<input type="submit" value="subscribe now">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //newsletter -->
		<!-- forgot password modal -->
		<div id="modal-forgot-password" class="modal fade">
			<div class="modal-dialog" role="document">
				<div class="modal-content col-md-8">
					<div class="modal-header">
						<h3 class="modal-title text-center fw3">Forgot your password?</h3>
						<button type="button" class="close btn-modal-cart" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mxlT">
						<p class="text-center">If you have forgotten your password, you can reset it here</p>
						<form id="form-forgot-password" class="mlT plL plR plB" action="" method="post">
							{% csrf_token %}
							<input type="email" name="email" class="form-control fw2 form-widget" placeholder="Email Address" required>
							<button id="btn-forgot-password" type="submit" class="btn btn-success form-control grocery-green form-widget fw2 mlT">Send My Password</button>
						</form>
					</div>
					<div class="modal-footer">
						<small class="pull-left clr-error hidden"></small>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<!-- //forgot password modal -->
		<!-- footer -->
		{% include "footer.html" %}
		<!-- //footer -->
		<!-- custom JS-->
		<script src="{% static 'js/grocery.js' %}"></script>
		<script src="{% static 'js/cart.js' %}"></script>
		<script src="{% static 'js/login.js' %}"></script>
		<!-- //custom JS-->
	</body>
</html>
