{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>GroceryApp</title>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
			Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } 
		</script>
		<!-- //for-mobile-apps -->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/grocery.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/password_reset.css' %}" rel="stylesheet" type="text/css" media="all" />

		<!-- font-awesome icons -->
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
		<!-- //font-awesome icons -->

		<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container mxlB">
			<div class="w3ls_logo_products_left col-md-12 mxlB">
				<h1><a href="/"><span>Grocery</span> Store</a></h1>
			</div>
			<div class="row">
				<div class="col-lg-6 col-sm-8 col-xs-12 col-lg-offset-3 col-sm-offset-2">
					<div class="block-password-reset" style="padding:0 35px 35px 35px;">
						<div class="row">
							<div class="col-md-12">
								<h2>Reset Password</h2>
							</div>
						</div>
						<form id="form-password-reset" class="form-horizontal" role="form" action="" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-12 alert hidden"></div>
							</div>
							<div class="row">
								<div class="col-md-12">Please enter a new password.</div>
							</div>
							<div class="form-group hidden">
								<input type="text" name="access_token" value='{{ access_token }}'>
							</div>
							<div class="form-group row-gap-medium row">
								<label for="new_password" class="col-md-4 control-label">New Password</label>
								<div class="col-md-8">
									<input type="password" class="form-control" name="new_password" placeholder="Password">
								</div>
							</div>
							<div class="form-group row-gap-medium row">
								<label for="password_confirm" class="col-md-4 control-label">Re-enter New Password</label>
								<div class="col-md-8">
									<input type="password" class="form-control" name="password_confirm" placeholder="Re-Enter Password">
								</div>
							</div>
							<div class="row row-gap-medium">
								<div class="col-md-5 pull-right">
									<button type="submit" class="btn btn-block btn-primary">Reset</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<script src="{% static 'js/third_party/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'js/third_party/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
		<script src="{% static 'js/password_reset.js' %}"></script>
		<!--//footer-->
	</body>
</html>
