{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
			Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } 
		</script>
		<!-- //for-mobile-apps -->

		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/grocery.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/cart.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/trackmyorder.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>

		<!-- font-awesome icons -->
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
		<!-- //font-awesome icons -->

		<!-- js -->
		<script src="{% static 'js/third_party/jquery-1.11.1.min.js' %}"></script>
		<!-- //js -->

		<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<!-- //start-smoth-scrolling -->
	</head>
	<body>
		<!-- header -->
		{% include "header.html" %}
		<!-- //header -->
		<div class="container mmB pmA">
			<p>TRACK YOUR ORDER HERE</p>
			<form id="form-track-order" class="form-inline row mmT">
				{% csrf_token %}
				<div class="form-group col-md-5 pnR">
					<input type="email" name="email" class="form-control full-width" placeholder="Email">
				</div>
				<div class="form-group col-md-5 pnR">
					<input type="text" name="order_id" class="form-control full-width" placeholder="Order #">
				</div>
				<button type="submit" class="btn btn-success  mlL btn-track-order">Track</button>
			</form>
			<div class="row row-order-details mlT">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>Order summary</strong></h3>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-condensed mnB">
									<thead>
										<tr>
											<td><strong>Order #</strong></td>
											<td class="text-center"><strong>Billed To</strong></td>
											<td class="text-center"><strong>Order Date</strong></td>
											<td class="text-center"><strong>Delivery At</strong></td>
											<td class="text-center"><strong>Status</strong></td>
											<td class="text-right"><strong>Total bill</strong></td>
										</tr>
									</thead>
									<tbody>
										<tr class="thick-line">
											<td>1234</td>
											<td class="text-center">Mr. John Doe</td>
											<td class="text-center">21-02-2017 7:30 PM</td>
											<td class="text-center">Amsterdam, Netherlands</td>
											<td class="text-center">Confirmed</td>
											<td class="text-right">€10.99</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		{% include "footer.html" %}
		<!--//footer-->
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
		<script src="{% static 'js/grocery.js' %}"></script>
		<script src="{% static 'js/cart.js' %}"></script>
		<script src="{% static 'js/trackmyorder.js' %}"></script>
	</body>
</html>
